/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: 'Helvetica', sans-serif;
}
h1 {
  padding: 300px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 80px;
  background-image: url('../images/apple-pie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
hr {
  padding: 0cm 200px;
}
.image {
  text-align: center;
  margin: 40px;
}
.intro {
  text-align: center;
  padding: 50px 200px;
}
.intro p {
  text-align: justify;
}
.medidas {
  padding: 20px 200px;
  text-align: center;
}
.medidas h3 {
  text-align: left;
  padding-bottom: 20px;
}
.medidas ul {
  text-align: left;
  padding-left: 30px;
  list-style-type: '-';
}
img {
  width: 300px;
  height: 55px;
}
.Directions {
  padding: 20px 200px;
}
.Directions h3 {
  text-align: left;
  padding-bottom: 20px;
}
ol {
  list-style: none;
  padding-left: 20px;
}
ol li {
  counter-increment: item;
  margin-bottom: 5px;
}
ol li::before {
  content: counter(item) ') ';
}
